  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Frontpage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-frontpage.css" rel="stylesheet">

  </head>

  <body>
    <!-- Header with Background Image -->
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-center text-black mt-4"><bold>MyCrashBox</bold></h1>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">What We Do</h2>
          <p>MyCrashBox is an automotive insurance manager that keeps track of the claims you make, helps you make them so that you can get the most of your claim and keeps track of the automotive insurances you have! </p>
          <p>MyCrashBox is the only website that holds all your insurances together so you don't have to look around for your old insurance papers to see who's covered! We do the digging!</p>
          <p>
            <%= link_to 'Sign Up!', new_user_registration_path, :class => 'btn btn-primary'%>
          </p>
        </div>
        <div class="col-sm-4">
          <h2 class="mt-4">Contact Us</h2>
          <address>
            <br>3481 Melrose Place
            <br>Beverly Hills, CA 90210
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            (123) 456-7890
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:#">mycrashbox@gmail.com</a>
          </address>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="https://rac.com.au/-/media/images/rac-website/tile-images/images/car-motoring/insurance/car_crash_rs.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Had An Accident?</h4>
              <p class="card-text">Sign up with MyCrashBox to make your claims more managable and let us walk you through what you need! With MyCrashBox, anyone can easily make a claim and get the most out of their insurances!</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Make Claims Simple!', new_user_registration_path, :class => 'btn btn-primary'%>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://www.powerfundingllc.com/wp-content/uploads/2014/11/moneyman-e1415384696380.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Want More From Your Insurance?</h4>
              <p class="card-text">With MyCrashBox, you are able to make the most out of your insurance claims by always having the right information as you follow our steps in making your successful claims! Don't let insurance hold you back from the money you deserve!</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Claim Your Money!', new_user_registration_path, :class => 'btn btn-primary'%>
            </div>
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="https://sellleadsucceed.files.wordpress.com/2013/03/bigstock-happy-mature-business-man-offe-20200724.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">We Manage, You Save!</h4>
              <p class="card-text">MyCrashBox manages all of your automotive insurances so you can stop looking around for all your insurance information! We even take you a step-by-step process on how to easily make a perfect insurance claim every single time so you can save big bucks!</p>
            </div>
            <div class="card-footer">
              <%= link_to 'Save Now!', new_user_registration_path, :class => 'btn btn-primary'%>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; MyCrashBox 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>